ftfy
regex 
tqdm
mmcv-full==1.7.1
mmengine==0.10.2
json_tricks
numpy
opencv-python
pillow==10.2.0
xtcocotools
scikit-image==0.22.0
timm==0.9.11
torch==1.13.1+cu116
torchaudio==0.13.1+cu116
torchvision==0.14.1+cu116
xtcocotools==1.13
yacs==0.1.8
mmpose=0.29.0
git+https://github.com/openai/CLIP.git
